#calculator {
  width: 240px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  display: flex;
  gap: 10px;
}

#display, .key {
  height: 50px;
  border: black solid 1px;
  box-sizing: border-box;
  font-size: 30px;
  user-select: none;
}

#display {
  padding: 0 10px;
  background-color: #EEEEEE;
  display: flex;
  justify-content: right;
  align-items: center;
}

.key {
  background-color: #FFFFBB;
  flex: 1 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
